@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: #2161cb;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container {
  background: #fff;
  padding: 25px;
  width: 50%;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  animation: fadeIn 0.5s ease-in-out;
}

/* ===== INPUT AREA ===== */
.task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task input {
  flex: 1;
  border: 2px solid #98abe1;
  border-radius: 5px;
  padding: 10px;
}

.task button {
  background: #2161cb;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* ===== TASK ITEM ===== */
.task-item {
  background: #c5e1e5;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeSlide 0.3s ease-in-out;
}

.task-title {
  width: 100%;
  font-size: 16px;
  color: #28363f;
}

/* Completed effect */
.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

/* ===== BUTTONS — EDIT / DELETE / SAVE ===== */
.actions {
  display: flex;
  gap: 8px;
}

/* Buttons look */
.actions button,
.edit-save-btn {
  background: #211ca7;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* ===== INPUT EDIT MODE ===== */
.edit-zone {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-input {
  flex: 1;
  padding: 7px;
  border-radius: 5px;
  background: #98abe1;
  border: 1px solid #98abe1;
}

/* Save button specific */
.edit-save-btn {
  background: #1e4ec9;
}

/* ===== CLEAR ALL ===== */
#clear-all-btn {
  background: #2161cb;
  /* background: #211ca7; */
  border: none;
  color: #fff;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* ===== Animations ===== */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateX(-10px); }
  to   { opacity: 1; transform: translateX(0); }
}
